.search-bar {
    border-radius: 10px;
    height: 50px;
    color: white;
    font-size: 20px;
    padding-left: 40px;
    background-color: black;
    border: 2px solid white;
}

.search-bar-container {
    padding: 4% 8%;
    background-color: black;
}