.filters-gymList {
    height: fit-content;
    /* margin: 30px; */
    width: 100%;
    color: white;
    background-color: black;
    display: flex;
    justify-content: start;
    padding: 20px;
}

.left-for-location {
    height: fit-content;
    box-sizing: border-box;
    width: 30%;
    text-align: start;
}

.right-for-list {
    height: fit-content;
    width: 60%;
}

.heading-filter {
    font-size: 40px;
    margin-left: 20px;
    margin-bottom: 15px;
}

.heading-location {
    font-size: 25px;
}

.location-search-bar {
    margin-top: 4%;
    border-radius: 5px;
    height: 50px;
    width: 80%;
    font-size: 20px;
    padding-left: 20px;
    color: white;
    background-color: black;
    border: 2px solid white;
}

.select-search-bar,
select {
    margin-top: 4%;
    border-radius: 5px;
    height: 50px;
    width: 90%;
    font-size: 20px;
    padding-left: 20px;
    color: white;
    background-color: black;
    border: 2px solid white;
    grid-area: select;
}

.option {
    position: relative;
    overflow-x: scroll;
}

.price-search-bar {
    margin-right: 2%;
    margin-top: 4%;
    border-radius: 5px;
    height: 50px;
    width: 70px;
    font-size: 20px;
    color: white;
    padding-left: 10px;
    background-color: black;
    border: 2px solid white;
}