.footer {
    border-top: 2px solid white;
    padding: 30px;
    display: flex;
    justify-content: space-around;
    background-color: black;
    color: white;
}

.footer-heading {
    font-size: 30px;
}

.mid-div1 {
    text-align: start;
}

.footer-list {
    margin: 10px;
    font-size: 18px;
    cursor: pointer;
}